# Python bytecode
__pycache__/
*.pyc
# Ignore Python virtual environment folder
.venv/

# Secrets and config
config.py
node_modules/
node_modules

# Data files
data/
embeddings/

# Logs
*.log

# Virtual environments
venv/
.env

videos